<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--手机表列名及次序-->
    <add key="Fields" value="id,Phone,type,SurveyMonth,City,AddTime,Dimension" />
  </appSettings>
  <connectionStrings>
    <!--生产环境链接-->
    <!--<add name="Con_SatisfySurvey_181" connectionString="Data Source=10.209.180.181;Initial Catalog=SatisfySurvey_201808;Connect Timeout=120;User Id=SA;Password=!!Hn@nsn123;" providerName="System.Data.SqlClient" />-->
    <!--本地测试链接-->
    <add name="Con_SatisfySurvey_181" connectionString="Data Source=119.29.5.243\MSS2014,11432;Database=SatisfySurvey_201808_1206;User=sa;Password=!!Hn@nsn123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>